button {
    border: none;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.btn-outline {
    border: 1px solid var(--black);
    padding: 0.5rem 1rem;
}

.btn-main {
    background-color: var(--black);
    color: var(--white);
}