.user-wrapper {
    width: 80%;
    margin: 6rem auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.user-wrapper h1 {
    font-size: 2rem;
}

.user-wrapper p {
    margin: 0;
}

.user-table {
    width: 70%;

}

.user-table,
.user-form .title {
    margin-bottom: 1rem;
}

.user-form {
    width: 30%;
    border-left: 1px solid #ccc;
    padding-left: 2rem;
}


table {
    width: 100%;

    border-collapse: collapse;
}

th,
td {
    padding: 12px 12px 12px 0px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


tbody {
    height: 100vh;
    overflow-y: scroll;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}