button {
  border: none;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 18pxs;
  font-family: Epilogue;
}

.btn-outline {
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
}

.btn-outline:hover {
  border: 1px solid hsl(0, 0%, 41%);
}

.btn-main {
  background-image: linear-gradient(to right,
      #171718 0%,
      #414345 51%,
      #232526 100%);
}

.btn-main {
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-main:hover {
  background-position: right center;
  color: var(--white);
  text-decoration: none;
}

.btn-delete {
  background-color: #fffb00;
}

button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}