:root {
  --white: hsl(0, 0%, 98%);
  --mediumGrey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Epilogue;
  font-size: 18px;
  background-color: var(--white);
  color: var(--black);
}

.container {
  width: 95%;
  margin: 0rem auto;
}


ul {
  list-style: none;
}

select {
  border: none;
  font-family: Epilogue;
  padding: 0;
  margin: 0;
}